
<div class="barber_section layout_padding">
    <div class="container">
       <div class="braber_taital_main">
          <div class="row">
            
            <%for (post of posts){ %>
               
         
             <div class="col-lg-6">
                <div class="barber_bg_main">
                   <h1 class="barber_taital"><%= post.postName %></h1>
                   <p class="barber_text"><%= post.description %></p>
                   <div class="blogr_main">
                      <div class="blogr_left">
                         <p class="post_text">Post By :  <%= post.author %></p>
                      </div>
                      <div class="blogr_right">
                         <div class="comment_text">
                            <ul>
                               <li><a href="#"><%= post.like %><span class="padding_10"><i class="fa fa-thumbs-up"></i></span></a></li>
                               <li><a href="#"><%= post.comment %><span class="padding_10"><i class="fa fa-comment"></i></span></a></li>
                               <li><a href="#"><%= post.dislike %><span class="padding_10"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span></a></li> 
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>

             <div class="col-lg-6">
                <div class="fashion_img">
                  <a href="/posts/<%= post._id %>"><img src="images/img-1.png" class="fashion_img">
                     <div class="read_bt"><a href="#"><%= new Date(post.postDate).toLocaleDateString('tr-TR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></a></div>
                  </div>
             </div>
             <% } %>
          </div>
       </div>
    </div>
 </div>
